body {
	background-image: url("img/back.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	color: #f7b633;
	font-family: 'Montserrat', sans-serif;
}

.main{
	width: 800;
	height: 450;
	
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.controls{
	width: 200;
	height: 450;
	
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
	
	margin: auto;
}

.mainc{
	text-align: center;
	position: absolute;
	
    bottom: 0;
    left: 0;
    right: 0;
	
	font-size:20;
	
	margin:auto;
}

.new_game{
	top:20;
}

.img_dice{
	width: 70;
	content: url("img/dice-6.png");
	display: block;
    margin:0 auto;
	top:100;
}

.roll{
	top:250;
}

.hold{
	top:300;
}

.in_score{
	width:80;
	top:350;
	bottom: auto;
}

.panel{
	width:50%;
	height:100%;
	
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
	
}

.panel#player0{
	background-color: #90a4aef2;
}

.panel#player1{
	background-color: #607d8bf2;
	left:50%;
}

.p_element{
	text-align:center;
}

.p_name{
	font-size:40;
}

.p_score{
	font-size:40;
}

.p_current{
	width: 100;
	height: 100;
	background-color: #37474f;
	
	position: absolute;
    top:150;
    bottom: 0;
    left: 0;
    right: 0;
	
	margin:auto;
}