body {
	background-image: url("img/back.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

.main{
	width: 800;
	height: 450;
	background-color: rgba(255,255,255,0.8);
	
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.controls{
	width: 200;
	height: 450;
	background: red;
	
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
	
	margin: auto;
}

.new_game{
	text-align: center;
}

.img_dice{
	width: 100;
	content: url("img/dice-6.png");
	display: block;
    margin-left: auto;
    margin-right: auto;
}